#sIMULA DEMORA NAS CONSULTAS DE bd
SIMULATE_WAIT_IN_MS=100

# TAMANHO MAXIMO PARA UPLOAD DE IMAGENS
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600;

#NOME DA PASTA ONDE AS IMAGENS SÃO SALVAS
IMAGE_UPLOAD_DIRECTORY=uploads

#BASE URL DA IMAGEM (url servidor da imagem sem a barra final)
IMAGE_SERVER_URL='http://localhost:3000/uploads';


#Chave JWT
# Use o arquivo em src/utils/generate-hashed-password.ts para gerar secret jwt
#(npx tsx src/utils/generate-hashed-password.ts)
JWT_SECRET_KEY='Sua chave usada para assinar Tokens JWT'

#timeout do Login
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

#Nome Cookie login
LOGIN_COOKIE_NAME='loginSession'

#Nome do usuário para logar em /admin/login
LOGIN_USER='seu_usuário_aqui'
# Use o arquivo em src/utils/generate-hashed-password.ts para gerar seu hash de senha
#(npx tsx src/utils/generate-hashed-password.ts)
LOGIN_PASS='seu_hash_aqui'

#Permitir login na aplicação ou não
ALLOW_LOGIN=0

#Permitir upload de imagens (utilize somente no local)
ALLOW_UPLOAD_IMAGE=0

#url de conexão database
DATABASE_URL='db.sqlite3'

#token de acesso a bd
DATABASE_TOKEN=t

#Permitir uso do TURSO
USE_TURSO=0
